
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestPage</title>

</head>
<body>
    <div>
        <form method="post">
            <div>
                <label>cardnumber</label>
                <input type="text" name="CardNumber" value="4485896261017708" />
            </div>

            <div>
                <input type="text" name="GatewayID" hidden value="7777779313" />
                <input type="text" name="RegKey" hidden value="6PY5M5BQMJMB8TPW" />
                <input type="submit" />
            </div>
        </form>
    </div>
</body>
</html>
